<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heybro.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.heybro.entity.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="comment_Id" jdbcType="INTEGER" property="commentId" />
    <result column="dyn_id" jdbcType="INTEGER" property="dynId" />
    <result column="like" jdbcType="INTEGER" property="like" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.heybro.entity.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    comment_Id, dyn_id, like
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    content
  </sql>
</mapper>