<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heybro.mapper.GoldMapper">
  <resultMap id="BaseResultMap" type="com.heybro.entity.Gold">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gold_id" jdbcType="INTEGER" property="goldId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    gold_id, amount, discount, date
  </sql>
</mapper>