<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heybro.mapper.MassageMapper">
  <resultMap id="BaseResultMap" type="com.heybro.entity.Massage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="msg_Id" jdbcType="INTEGER" property="msgId" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="send_user_code" jdbcType="VARCHAR" property="sendUserCode" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="msg_date" jdbcType="TIMESTAMP" property="msgDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    msg_Id, user_code, send_user_code, content, msg_date
  </sql>
</mapper>