<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heybro.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.heybro.entity.Room">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="room_Id" jdbcType="INTEGER" property="roomId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="room_num" jdbcType="INTEGER" property="roomNum" />
    <result column="room_mode" jdbcType="VARCHAR" property="roomMode" />
    <result column="room_rate_low" jdbcType="INTEGER" property="roomRateLow" />
    <result column="room_rate_high" jdbcType="INTEGER" property="roomRateHigh" />
    <result column="room_type" jdbcType="INTEGER" property="roomType" />
    <result column="room_date" jdbcType="TIMESTAMP" property="roomDate" />
    <result column="room_info_id" jdbcType="INTEGER" property="roomInfoId" />
    <result column="win_lose" jdbcType="VARCHAR" property="winLose" />
    <result column="room_pass_set" jdbcType="INTEGER" property="roomPassSet" />
    <result column="room_pass" jdbcType="VARCHAR" property="roomPass" />
    <result column="room_peo" jdbcType="INTEGER" property="roomPeo" />
    <result column="room_lng" jdbcType="VARCHAR" property="roomLng" />
    <result column="room_lat" jdbcType="VARCHAR" property="roomLat" />
    <result column="master_code" jdbcType="VARCHAR" property="masterCode" />
    <result column="room_city" jdbcType="VARCHAR" property="roomCity" />
    <result column="room_province" jdbcType="VARCHAR" property="roomProvince" />
    <result column="room_area" jdbcType="VARCHAR" property="roomArea" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    room_Id, room_name, room_num, room_mode, room_rate_low, room_rate_high, room_type,
    room_date, room_info_id, win_lose, room_pass_set, room_pass, room_peo, room_lng,
    room_lat, master_code, room_city, room_province, room_area
  </sql>

  <select id="RoomInfoList" resultType="java.util.HashMap">
    SELECT r.room_Id,r.room_name,r.room_num,r.room_peo,r.room_pass,r.room_pass_set
    from room r
    where r.room_Id != 0 and r.room_type = 0
    order by room_date desc
  </select>

  <select id="RoomDetailInfoList" resultType="java.util.HashMap">
    SELECT a.user_name,a.user_portrait,a.user_Intro,a.user_code,a.user_nickname,r.room_name,room_num,room_peo
    from room_info i
         LEFT JOIN average_user a on  i.user_code = a.user_code
         LEFT JOIN room r on i.room_id = r.room_Id
         where i.room_id = #{roomId}
  </select>

  <select id="BasketBallRoomInfoList" resultType="java.util.HashMap">
    SELECT r.room_Id,r.room_name,r.room_num,r.room_peo,r.room_pass,r.room_pass_set
    from room r
    where r.room_Id != 0 and r.room_type = 1
    order by room_date desc
  </select>

  <select id="selectByTerm" resultType="java.util.HashMap">
    SELECT *
    from room r
    where r.room_Id != 0 and r.room_peo &lt; r.room_num
    and r.room_rate_high &gt;= #{userRate} and  #{userRate} &gt;= r.room_rate_low
    and r.room_type = #{type}
    <if test="mode != null and mode != ''">
      and r.room_mode = #{mode}
    </if>
    order by r.room_date desc
  </select>

  <update id="updateRoomNumByRoomId">
    UPDATE room r SET
    r.room_peo = r.room_peo + 1
    where r.room_id = #{RoomId}
  </update>

</mapper>