<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="zh-CN" layout:decorator="fragment/layout">
<head>
    <title>管理后台</title>
</head>
<body>
<div layout:fragment="content">
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>系统管理</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>编辑角色 <small><a href="javascript:window.history.go(-1);">返回</a></small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <br/>
                        <div class="x_content">
                            <br />
                            <form id="form_save" class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        角色名称 *
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="name" name="name" class="form-control col-md-7 col-xs-12"
                                               required="required" data-error="角色名称不能为空！"/>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <input type="hidden" id="h_id" name="id"/>
                                        <button type="button" class="btn btn-success btn-primary">提交</button>
                                        <button class="btn btn-primary" type="button" onclick="cancel();">取消</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var baseUrl = $('#baseUrl').attr("href");
        /*<![CDATA[*/
        $(function () {
            load();
            $('#form_save').on('success.form.fv', function (e) {
                $.ajax({
                    url: baseUrl+"system/doEditRole",
                    type: 'POST',
                    data: $("#form_save").serialize()
                }).then(function (res) {
                    if (res.success) {
                        alertAndTurn(res.msg,1,baseUrl+"system/role");
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, function (res) {
                    layer.msg("请求网络失败，请重试", {icon: 2});
                });
            }).on('click', '.btn-primary', function () {
                // 提交表单
                $('#form_save').data('formValidation').validate();
            }).formValidation({
                framework: 'bootstrap',
                excluded: ':disabled',
                icon: {
                    valid: 'fa fa-check',
                    invalid: 'fa fa-times',
                    validating: 'fa fa-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: '角色名称不能为空'
                            }
                        }
                    }
                }
            });
        });
        function load() {
            $.ajax({
                async: false,
                url: baseUrl+"system/findRoleById",
                dataType: "json",
                type: "post",
                data: {id: GetQueryString("id")},
                success: function (result) {
                    console.log(result);
                        if (result.success) {
                        $("#name").val(result.data.info.name);
                        $("#h_id").val(result.data.info.id);
                    }else{
                        layer.msg("读取人员信息失败", {icon: 2});
                    }
                },
                error: function (a, b, c) {
                    layer.msg("请求网络失败，请重试", {icon: 2});
                }
            });
        }
        /*]]>*/
    </script>
</div>
</body>
</html>